.employee-name{
    font-family: amandaBlack;
}

.list-container{
    margin: auto;
    width: 50%;
    border: 2px solid #3d1bb8;
}
.data-block{
padding: 2em;
}

.paginationButtonBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

@mixin paginData{
    font-family: catchyHeader;
    font-size: 1.2em;    
    align-self: center;
}
.currentPage{
    @include paginData;
    color: #BC04F4;
}

.TotalCount{
    @include paginData;
    color: #32961e;
}

.pagination-dropDownBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    display: flex;
}

.pagination-Buttonclock{
    display: flex;
    flex-direction: row;
}

.paginationDropdown{
    width: 50%;
    border-radius: 7px;
    border: 1px solid grey;
}

.search-inputbox{
    width: 50%;
    border-radius: 7px;
    border: 1px solid grey;
}

@mixin searchDropdowns{
    width: 50%;
    border-radius: 7px;
    border: 1px solid grey;
    cursor: pointer; 
}

.departmentDropdown{
    @include searchDropdowns;
}

.select-label-search{
    font-size: 1.1em;
    font-weight: bolder;
    text-decoration: underline;
}

.search-container{
    padding: 1em;
}

.pageLables{
    font-weight: 700;
    font-family: 'amandaBlack';
    font-size: 1.2em;
}

.data-label{
    font-family: cursive;
    font-size: 1.2em;
    color: black;
}

.data-value{
    font-family: 'Satisfy', cursive;
    color: green;
    font-weight: 200;
    font-size: 1.4em;
}

$detailsbuttonColor:#71d6cd;
.DetailsButton{
  margin-top: 0.4em;
    padding: 0.3em;
    border: 1px solid white;
    background-color: $detailsbuttonColor;
    color: black;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
      color:lighten($detailsbuttonColor,10%) !important;
      background-color:#4BA2E5;
      transition: all 0.3s ease-out;
  }
}

.error{
    text-align: center;
    color:red;
}

$resetbuttonColor:#71d6cd;
.resetButton{
  margin-top: 0.4em;
    padding: 0.3em;
    border: 1px solid white;
    background-color: $resetbuttonColor;
    color: black;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
      color:lighten($resetbuttonColor,10%) !important;
      background-color:#4BA2E5;
      transition: all 0.3s ease-out;
  }
}

//reponsive
@media screen and (max-width: 960px) {
    .paginationButtonBlock{
        flex-direction: column;
        margin: 2px;        
    }
    .pagination-Buttonclock{
        flex-direction: column;
        margin: 2px; 
    }
    
    .paginationButtonBlock :nth-child(1) { order: 1; }
    .paginationButtonBlock :nth-child(2) { order: 4; }
    .paginationButtonBlock :nth-child(3) { order: 3; }
    .paginationButtonBlock :nth-child(4) { order: 2; }
    
    .paginationButtons{
        margin: 2px;
    }
}

/**new **/
.section-wrapper{
    min-height: calc(100vh - 45px);
}

.specialHeader{
    text-decoration: underline;
    font-family: catchyHeader;
}
.card-width{
    width: 50%;
}