<section class="section-wrapper">
    <section>
        <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-3">
            <div class="text-center fs-1 me-2 mb-3">
                <i class="bi bi-card-list"></i>
            </div>
            <h3 class="specialHeader">Batch List!</h3>
        </div>

        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-3">
                    <label for="batchName" class="form-label">Search by Batch Name</label>
                    <input #batchNameSearchText type="text" id="batchName" placeholder="Enter batch Name!"
                        class="form-control" [(ngModel)]="searchByBatchName" />
                </div>
                <div class="col-3">
                    <label for="createdBy" class="form-label">Search by Created by</label>
                    <input #batchCreatedBySearch type="text" id="createdBy" placeholder="Enter name!"
                        class="form-control" [(ngModel)]="searchByCreatedBy" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-1">
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary" (click)="clearSearch()">
                            Clear All</button>
                    </div>
                </div>
                <div class="offset-9 col-2">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" (click)="createBatch()">
                            Create Batch</button>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="mb-3 mt-3 border border-top">
        <div *ngIf="deleteMessageInfo" class="d-flex flex-row align-items-center justify-content-center mt-3">
            <div class="alert alert-danger" role="alert">
                <div><span>{{deleteMessageInfo}}</span></div>               
              </div>
        </div>
        <ng-container *ngFor="let batch of batchListResponse.batchFileData; let i = index">
            

            <div class="d-flex flex-row align-items-center justify-content-center" role="button"
                >
                <div class="card m-3 card-width">
                    <div class="card-header">
                        <h5 class="card-title text-center">{{batch.batchName}}</h5>
                        <ul>
                            <li>
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{"Batch ID: "}}{{batch._id}}</h6>
                            </li>
                            <li>
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{"Created By: "}}{{batch.createdBy
                                    || " - - -"}}</h6>
                            </li>
                        </ul>
                        <div class="d-flex flex-row justify-content-end">
                            <button class="btn btn-sm btn-outline-primary me-2" (click)="modifyBatch(batch.batchId)">
                                <i class="bi bi-file-earmark-plus"></i>
                                Add Files!</button>
                            <button class="btn btn-sm btn-outline-success me-2" (click)="batchDetail(batch.batchId)">
                                <i class="bi bi-file-earmark-check"></i>
                                Validate Batch!</button>
                            <button class="btn btn-sm btn-outline-danger" (click)="deleteBatch(batch.batchId,batch.batchName)">
                                <i class="bi bi-trash3-fill"></i>
                                Delete Batch!</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <ng-container *ngIf="batch.fileList.length>0;then showFiles else noFiles">
                        </ng-container>
                        <ng-template #showFiles>
                            <ol>
                                <li *ngFor="let file of batch.fileList">
                                    {{file.fileName}}
                                </li>
                            </ol>

                        </ng-template>
                        <ng-template #noFiles>
                            <h4 class="text-danger text-center">No Files!</h4>
                        </ng-template>


                    </div>
                </div>

            </div>



        </ng-container>

    </section>
</section>


    <div #deleteBatchModal class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-body-secondary">
                    <span class="modal-title text-danger fs-4">
                        Are you sure You want to Delete <strong>" {{batchNameTobeDeleted}} "</strong> batch from Database ?
                    </span>
                </div>
                <div class="modal-body">
                    <p>This Will permanently remove batch and delete All related files!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-outline-secondary" (click)="confirmBatchModalClose(false)">
                        <i class="bi bi-x-octagon"></i>
                        Cancel
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="confirmBatchModalClose(true)">
                        <i class="bi bi-trash3-fill"></i>
                        Confirm Delete!
                    </button>
                </div>
            </div>
        </div>        
    </div>
    

    
    
    


