<section class="section-wrapper">
    <div class="d-flex justify-content-center">
        <div class="cardBlock bg-body-secondary p-3 m-3">
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="text-center fs-1 me-2 mb-3">
                    <i class="bi bi-card-list"></i>
                </div>
                <h3 class="specialHeader">Batch List!</h3>
            </div>
            <div>
                <span class="fs-4">Select a batch to get work. You can filter the list using batch name.</span>
            </div>
            <div class="row mt-4 mb-3">
                <div class="col-10">                      
                     <label for="batchName" class="form-label">Search by Batch Name</label>
                    <input #batchNameSearchText type="text" id="batchName" placeholder="Enter batch Name!"
                        class="form-control" [(ngModel)]="searchByBatchName" />                         
                                                
                </div>
                <div class="col-2 d-flex align-items-end justify-content-start">
                    <button class="btn btn-outline-secondary" (click)="clearSearch()">
                        Clear All</button> 
                </div>                
            </div>

            <div *ngIf="deleteMessageInfo" class="d-flex flex-row align-items-center justify-content-center mt-3">
                <div class="alert alert-danger" role="alert">
                    <div><span>{{deleteMessageInfo}}</span></div>               
                  </div>
            </div>


            <div class="table-responsive rounded mb-3">
                <table class="table table-hover">
                    <thead class="table-light">
                       <tr>
                            <th scope="col">Batch Name</th>
                            <th scope="col">ID</th>
                            <th scope="col">Created By</th>
                            <th scope="col" class="text-center">Action</th>
                       </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let batch of batchListResponse.batchFileData; let i = index">
                            <tr>
                                <th scope="row">{{batch.batchName}}</th>
                                    <td>{{batch._id}}</td>
                                    <td>{{batch.createdBy
                                        || " - - -"}}</td>
                                    <td>
                                        <div class="d-flex flex-row justify-content-center">
                                            <button class="btn btn-sm btn-outline-primary me-2" (click)="modifyBatch(batch.batchId)">
                                                <i class="bi bi-file-earmark-plus"></i>
                                                Add Files!</button>
                                            <button class="btn btn-sm btn-outline-success me-2" (click)="batchDetail(batch.batchId)">
                                                <i class="bi bi-file-earmark-check"></i>
                                                Validate</button>
                                            <button class="btn btn-sm btn-outline-danger" (click)="deleteBatch(batch.batchId,batch.batchName)">
                                                <i class="bi bi-trash3-fill"></i>
                                                Delete</button>
                                        </div>
                                    </td>
                            </tr>
                        </ng-container>
                    </tbody>                    
                </table>
            </div>

            <div class="d-flex flex-row align-items-center justify-content-center">               
                    <button class="btn btn-sm btn-primary" (click)="createBatch()">
                        Create New Batch</button>               
            </div>

        </div>
    </div>
</section>




    <div #deleteBatchModal class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-body-secondary">
                    <span class="modal-title text-danger fs-4">
                        Are you sure You want to Delete <strong>" {{batchNameTobeDeleted}} "</strong> batch from Database ?
                    </span>
                </div>
                <div class="modal-body">
                    <p>This Will permanently remove batch and delete All related files!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-outline-secondary" (click)="confirmBatchModalClose(false)">
                        <i class="bi bi-x-octagon"></i>
                        Cancel
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="confirmBatchModalClose(true)">
                        <i class="bi bi-trash3-fill"></i>
                        Confirm Delete!
                    </button>
                </div>
            </div>
        </div>        
    </div>
    

    
    
    


