<section class="section-wrapper">
    <section class="border-bottom">
        <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-3">
            <div class="text-center fs-1 me-2 mb-3">
                <i class="bi bi-file-check"></i>
            </div>
            <h3 class="specialHeader">Files Validation!</h3>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div>
                        <strong>Batch Name</strong>
                    </div>
                    <div>
                        <p>{{batchDetail.batchName}}</p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <strong>Batch Id</strong>
                    </div>
                    <div>
                        <p>{{batchDetail.batchId}}</p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <strong>Created By</strong>
                    </div>
                    <div>
                        <p>{{batchDetail.createdBy || '- - -'}}</p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <strong>Batch Status</strong>
                    </div>
                    <div>
                        <p>{{batchDetail.batchStatus}}</p>
                    </div>
                </div>                
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-3">
                <button class="btn btn-sm btn-warning me-2" (click)="goBack()">
                    <i class="bi bi-card-list"></i>
                    Go Back
                </button>
                <button class="btn btn-sm btn-primary" (click)="createNewBatch()">
                    <i class="bi bi bi-file-earmark-plus"></i>
                    Create New Batch
                </button>
            </div>
        </div>
    </section>
   
        <div class="row g-0 section-wrapper">
            <div class="col-3 border-end">
                <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-3">
                    <div class="text-center fs-1 me-2 mb-3">
                        <i class="bi bi-card-list"></i>
                    </div>
                    <h5 class="specialHeader">Files List!</h5>
                </div>
                
                    <div class="list-group list-group-flush border-top border-bottom" >
                        <div class="list-group-item" role="button" (click)="onFileSelect(fileObject)" [ngClass]="getFileClass(fileObject)" *ngFor="let fileObject of batchDetail.fileList">{{fileObject.fileName}}</div>                        
                    </div>                    
                
            </div>
            <div class="col-4 border-end">
                <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-3">
                    <div class="text-center fs-1 me-2 mb-3">
                        <i class="bi bi-file-check"></i>
                    </div>
                    <h5 class="specialHeader">Extracted Data!</h5>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-3">
                    <button class="btn btn-sm btn-warning me-2">
                        <i class="bi bi-arrow-repeat"></i>
                        Aws Textextract Re-scan!
                    </button>                    
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-3">
                    <div class="text-center fs-1 me-2 mb-3">
                        <i class="bi bi-file-earmark"></i>
                    </div>
                    <h5 class="specialHeader">File</h5>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-3">
                    <button class="btn btn-sm btn-primary me-2" (click)="downloadSelectedFile()">
                        <i class="bi bi-arrow-down-circle"></i>
                        Download Selected File!
                    </button>
                    <button class="btn btn-sm btn-warning" (click)="displayPdf()">
                        <i class="bi bi-file-earmark-play"></i>
                        Load In Viewer!
                    </button>                    
                </div>
                <div class="container-fluid mt-3 mb-3">
                    <div id="pdfContainer" class="pdfViewerWrapper"></div>
                </div>
            </div>
        </div>
    
</section>

