.section-wrapper{
    min-height: calc(100vh - 45px);
    /*background-image: url("./../../../../assets/images/loginBackdrop.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:left;  */       
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #62cff4, #2c67f2);
  }
