<div class="login-container">
    <form [formGroup]="createEmployeeForm">
        <div class="signIn-block">
            <h3 class="loginHeader">Create Employee Record</h3>

            <h5 class="invalid-credentails" *ngIf="isError">{{errorMessage}}!</h5>
            <h5 class="user-info" *ngIf="updatedInfo">{{updatedInfo}}!</h5>

            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Employee ID </span>
                </div>
                <div>
                    <input type="text" placeholder="Enter your emp Id!" class="inputbox" formControlName="Employee_ID" />
                </div>
                <div>
                    <span class="errorMessage"
                    *ngIf="inputboxValidation('Employee_ID')">Please enter emp id!! </span>
                </div>
            </div>

            <div class="input_bloc">
                <div>
                    <span class="inputLabel"> Enter Full Name </span>
                </div>
                <div>
                    <input type="text" placeholder="Enter your Full Name!" class="inputbox" formControlName="Full_Name" />
                </div>
                <div>
                    <span class="errorMessage"
                    *ngIf="inputboxValidation('Full_Name')">Please enter valid full name!! </span>
                </div>
            </div>



            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Your Job title </span>
                </div>
                <div>
                    <input class="inputbox" type="text" placeholder="Enter your job title!"  formControlName ="Job_Title"/>
                </div>
                <div>
                    <span class="errorMessage"
                        *ngIf="inputboxValidation('Job_Title')">Please enter Job Title!! </span>
                </div>                
            </div>

            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Your Department </span>
                </div>
                <div>
                    <input class="inputbox" type="text" placeholder="Enter your Department!"  formControlName ="Department"/>
                </div>
                <div>
                    <span class="errorMessage"
                        *ngIf="inputboxValidation('Department')">Please enter Job Department!! </span>
                </div>                
            </div>


            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Your Bussiness Unit </span>
                </div>
                <div>
                    <input class="inputbox" type="text" placeholder="Enter your BU!"  formControlName ="Business_Unit"/>
                </div>
                <div>
                    <span class="errorMessage"
                        *ngIf="inputboxValidation('Business_Unit')">Please enter BU!! </span>
                </div>                
            </div>

            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Your Gender </span>
                </div>
                <div>
                    <input class="inputbox" type="text" placeholder="Enter your Gender!"  formControlName ="Gender"/>
                </div>
                <div>
                    <span class="errorMessage"
                        *ngIf="inputboxValidation('Gender')">Please enter Gender!! </span>
                </div>                
            </div>

            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Your Ethnicity </span>
                </div>
                <div>
                    <input class="inputbox" type="text" placeholder="Enter your Ethnicity!"  formControlName ="Ethnicity"/>
                </div>
                <div>
                    <span class="errorMessage"
                        *ngIf="inputboxValidation('Ethnicity')">Please enter Ethnicity!! </span>
                </div>                
            </div>

            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Your Age </span>
                </div>
                <div>
                    <input class="inputbox" type="number" placeholder="Enter your Age!"  formControlName ="Age"/>
                </div>
                <div>
                    <span class="errorMessage"
                        *ngIf="inputboxValidation('Age')">Please enter Age!! </span>
                </div>                
            </div>

            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Your Hire Date </span>
                </div>
                <div>
                    <input class="inputbox" type="date" placeholder="Enter your Hire Date!"  formControlName ="Hire_Date"/>
                </div>
                <div>
                    <span class="errorMessage"
                        *ngIf="inputboxValidation('Hire_Date')">Please enter Hire Date!! </span>
                </div>                
            </div>

            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Your Annual Salary</span>
                </div>
                <div>
                    <input class="inputbox" type="number" placeholder="Enter your Annual Salary!"  formControlName ="Annual_Salary"/>{{'$'}}
                </div>
                <div>
                    <span class="errorMessage"
                        *ngIf="inputboxValidation('Annual_Salary')">Please enter Annual Salary!! </span>
                </div>                
            </div>

            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Your Bonus</span>
                </div>
                <div>
                    <input class="inputbox" type="number" placeholder="Enter your Bonus!"  formControlName ="Bonus"/>{{'%'}}
                </div>
                <div>
                    <span class="errorMessage"
                        *ngIf="inputboxValidation('Bonus')">Please enter Bonus!! </span>
                </div>                
            </div>

            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Your Country</span>
                </div>
                <div>
                    <input class="inputbox" type="text" placeholder="Enter your Country!"  formControlName ="Country"/>
                </div>
                <div>
                    <span class="errorMessage"
                        *ngIf="inputboxValidation('Country')">Please enter Country!! </span>
                </div>                
            </div>

            <div class="input_bloc">
                <div>
                    <span class="inputLabel">Enter Your City</span>
                </div>
                <div>
                    <input class="inputbox" type="text" placeholder="Enter your City!"  formControlName ="City"/>
                </div>
                <div>
                    <span class="errorMessage"
                        *ngIf="inputboxValidation('City')">Please enter City!! </span>
                </div>                
            </div>
            

            <div>
                <button class="signUpButton" (click)="createOrUpdateEmployee()">
                    <ng-container *ngIf="isEdit;then update else create"></ng-container>
                    <ng-template #update><span>Update Employee!</span></ng-template>
                    <ng-template #create><span>Create Employee!</span></ng-template>                    
                </button>
            </div>

            <div>
                <button class="loginButton" (click)="resetEmployee()">
                    Reset all Fields!</button>
            </div>
        </div>
    </form>
</div>
