

.banner{
    background-color: black;
    text-align: center;
    border-bottom: 5px solid #4BA2E5;
}
.main_title{
    font-size: 5em;
    color: #4BA2E5;
    font-family: lemonJellyHeading;
}

.image-responsive {
    max-width: 100%;
    height: auto;
}

.blogImage{
    display:flex;
    justify-content: center;
}

//navigation bar
.navCustomization{
    padding: 1em;
    display: flex;
    align-items: baseline;   
}

.nav-container{    
    border-bottom: 4px solid #E8491D;
}

$navMenu-color:#e4e5c0;

.responsive-menu{
display: none;
}

.nav-link{
    color:$navMenu-color !important;
    cursor:pointer;
    margin: 0.4em;
    border-radius: 10px;
    font-family: blogText;
    font-size: 1.2em;
    &:hover{
        color:lighten($navMenu-color,10%) !important;
        background-color:#4BA2E5;
        transition: all 0.3s ease-out;
    }
    &.active{
        background-color:#4BA2E5;
    }    
}

//navigaton item
.nav-menu{
    display: flex;
    transition: all 0.5s ease;   
}
.nav-container{
    background-color:#665f5f;
}


.main-container{
    min-height: calc(100vh - 45px);
}    

.navbar-toggle{
    background-color: #333;
    border-color: #333;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0.2em;
    .icon-bar{
        background-color: #fff;
        display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 3px;
    }
}


//reponsive
@media screen and (max-width: 600px) {
    .nav-menu{
        flex-direction: column;
        display: none;  
        &.is-active{
            display:block;
        }      
    }
    .responsive-menu{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .responsive-text{
            color:#ffffff;
            padding:0.2em;
            font-size: 0.9em;
            font-family: blogText;
        }
    }

}


//spinner

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.4s linear infinite; /* Safari */
    animation: spin 0.4s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .overlay {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 999;
  }

  .loading-spinnerPosition {
    width: 2em;
    height: 69%;
    margin: auto;
    position: absolute;
    left: 0 !important;
    bottom: 0;
    right: 0;
    top: 320px;
    z-index: 999;
  }