.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid black;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 0.35s linear infinite; /* Safari */
    animation: spin 0.35s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .overlay {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 999;
  }

  .loading-spinnerPosition {
    width: 2em;
    height: 69%;
    margin: auto;
    position: absolute;
    left: 0 !important;
    bottom: 0;
    right: 0;
    top: 320px;
    z-index: 999;
  }