.section-wrapper{
    min-height: calc(100vh - 45px);
}

.dragAndDropZone{
    padding: 4em;
}

.dropzone {
    height: 200px;    
    background-color: #eee;
    border: dashed 4px black;
    justify-content: center;
    align-items: center;
    display: flex;
}

input[type="file"] {
    display: none;
}
