<div class="login-container">

    <div class="signIn-block">
        <h3 class="loginHeader">Password Reset!</h3>

        <h5 class="invalid-credentails" *ngIf="isError">{{errorMessage}}!</h5>

        <h5 class="user-info" *ngIf="updatedInfo">{{updatedInfo}}!</h5>


        <ng-container *ngIf="isUserAuthenticated;then showNewPwdForm else showValidationForm">

        </ng-container>

        <ng-template #showValidationForm>
            <form [formGroup]="userValidationForm">

                <div class="input_bloc">
                    <div>
                        <span class="inputLabel">Enter email </span>
                    </div>
                    <div>
                        <input type="text" placeholder="enter email!" class="inputbox" formControlName="email" />
                    </div>
                    <div>
                        <span class="errorMessage" *ngIf="userFormValidationHandler('email')">Please enter valid email!!
                        </span>
                    </div>
                </div>


                <div class="input_bloc">
                    <div>
                        <span class="inputLabel"> Enter secert key </span>
                    </div>
                    <div>
                        <input type="text" placeholder="enter secert key" class="inputbox" formControlName="secertKey" />
                    </div>
                    <div>
                        <span class="errorMessage" *ngIf="userFormValidationHandler('secertKey')">Please enter
                            secertKey!! </span>
                    </div>
                </div>

                <div>
                    <button class="signUpButton" (click)="validateUser()">
                        Validate!</button>
                </div>
            </form>

        </ng-template>



        <ng-template #showNewPwdForm>
            <form [formGroup]="newPasswordForm">

                <div class="input_bloc">
                    <div>
                        <span class="inputLabel">Enter New Password! </span>
                    </div>
                    <div>
                        <input class="inputbox" [type]="passwordShow ? 'text' : 'password'"
                            formControlName="updatedPassword" />
                    </div>
                    <div>
                        <span class="errorMessage" *ngIf="newPasswordValidationHandler('updatedPassword')">Please enter
                            password!! </span>
                    </div>
                    <div class="showPassword-block">
                        <input type="checkbox" class="password-checkbox" (change)="passwordShow = !passwordShow">
                        <span class="show-passwordText">Show Password!</span>
                    </div>
                </div>


                <div>
                    <button class="signUpButton" (click)="submitNewPassword()">
                        Submit New Password</button>
                </div>
            </form>
        </ng-template>

        <div *ngIf="!hasUserLoggedin">
            <button class="loginButton" (click)="redirectToSignup()">
                Dont have a account? create one!</button>
        </div>
    </div>

</div>