<div class="d-flex justify-content-center">
    <div class="cardBlock bg-body-secondary p-3 m-3">        
        <div class="d-flex flex-row align-items-center justify-content-center">
            <div class="text-center fs-1">
                <i class="bi bi-file-earmark-check"></i>
            </div>
            <h3 class="loginHeader">File Validation Portal!</h3>
        </div>
        <div class="text-center fs-1">
            <i class="bi bi-person-circle"></i>
        </div>
        <div class="text-center">
           <span><h4>Sign-In</h4></span>
        </div>
        <h5 class="text-center text-danger" *ngIf="isPasswordError">{{errorMessage}}!</h5>        

        <div class="row mb-3">            
            <div class="col">
                <label for="loginInput" class="form-label">User Name</label>
                <input type="text" id="loginInput" placeholder="Enter your email!" class="form-control" [(ngModel)]="username" #userNameVal="ngModel" required/>
            </div>
            <div>
                <span class="text-danger" *ngIf="(userNameVal.invalid && (userNameVal.dirty || userNameVal.touched))">Please enter username!! </span>
            </div>
        </div>



        <div class="row mb-2">           
            <div class="col">
                <label for="loginInput" class="form-label">Password</label>
                <input class="inputbox" class="form-control" (keyup.enter)="submitHandler()" placeholder="Enter your password!" [type]="passwordShow ? 'text' : 'password'" [(ngModel)]="password" #passwordFeild="ngModel" required/>                
            </div>
            <div>
                <span class="text-danger" *ngIf="(passwordFeild.invalid && (passwordFeild.dirty || passwordFeild.touched))">Please enter password!! </span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">               
                <input type="checkbox" role="button" id="showPassword" class="form-check-input" [(ngModel)]="passwordShow" >
                <label class="form-check-label" for="showPassword">
                    Show Password!
                 </label>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-center">
                <a role="button" class="link-primary text-decoration-none" (click)="forgotPwdHandler()">Forgot password?</a>
            </div>

        </div>
            
        

        <div class="row mb-3">
            <div class="col">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" (click)="submitHandler()">
                      Login</button>
                </div>
            </div>            
        </div>
        

        <div class="row">
            <div class="col">
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-primary" (click)="signUpButtonHandler()">
                        Sign Up</button>
                </div>
            </div>
        </div>
        

        
    </div>
</div>
