<section class="section-wrapper">
<div class="login-container bg-white">
    <div class="signIn-block">
        <h3 class="loginHeader">File Mangement System Login!</h3>

        <h5 class="invalid-credentails" *ngIf="isPasswordError">{{errorMessage}}!</h5>

        <div class="input_bloc">
            <div>
                <span class="inputLabel"> User Name </span>
            </div>
            <div>
                <input type="text" placeholder="Enter your email!" class="inputbox" [(ngModel)]="username" #userNameVal="ngModel" required/>
            </div>
            <div>
                <span class="errorMessage" *ngIf="(userNameVal.invalid && (userNameVal.dirty || userNameVal.touched))">Please enter username!! </span>
            </div>
        </div>



        <div class="input_bloc">
            <div>
                <span class="inputLabel">Password </span>
            </div>
            <div>
                <input class="inputbox" (keyup.enter)="submitHandler()" placeholder="Enter your password!" [type]="passwordShow ? 'text' : 'password'" [(ngModel)]="password" #passwordFeild="ngModel" required/>                
            </div>
            <div>
                <span class="errorMessage" *ngIf="(passwordFeild.invalid && (passwordFeild.dirty || passwordFeild.touched))">Please enter password!! </span>
            </div>
            <div class="showPassword-block">               
                <input type="checkbox" class="password-checkbox" [(ngModel)]="passwordShow" >
                <span class="show-passwordText">Show Password!</span>
            </div>
        </div>

        <div>
            <button class="loginButton" (click)="submitHandler()">
                Login</button>
        </div>

        <div>
            <button class="loginButton" (click)="forgotPwdHandler()">
                Forgot password</button>
        </div>

        <div>
            <button class="signUpButton" (click)="signUpButtonHandler()">
                Sign UP!</button>
        </div>
    </div>
</div>

</section>