$gobackButton: #71d6cd;

.gobackButton {
  margin-top: 0.4em;
  padding: 0.3em;
  border: 1px solid white;
  background-color: $gobackButton;
  color: black;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: lighten($gobackButton, 10%) !important;
    background-color: #4BA2E5;
    transition: all 0.3s ease-out;
  }
}

.data-block {
  padding: 2em;
}

.employee-name {
  font-family: amandaBlack;
}

.data-label {
  font-family: cursive;
  font-size: 1.2em;
  color: black;
}

.data-value {
  font-family: 'Satisfy', cursive;
  color: green;
  font-weight: 200;
  font-size: 1.4em;
}

.error {
  text-align: center;
  color: red;
}

.info {
  text-align: center;
  color: blue;
}

$deleteButtonColor: #c00707;

.deleteButton {
  margin-top: 0.4em;
  padding: 0.3em;
  border: 1px solid white;
  background-color: $deleteButtonColor;
  color: white;
  font-weight: 800;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: lighten($deleteButtonColor, 10%) !important;
    background-color: #4BA2E5;
    transition: all 0.3s ease-out;
  }
}

$updateButtonColor: #a03d04;

.updateButton {
  margin-top: 0.4em;
  padding: 0.3em;
  border: 1px solid white;
  background-color: $updateButtonColor;
  color: white;
  font-weight: 800;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: lighten($updateButtonColor, 10%) !important;
    background-color: #4BA2E5;
    transition: all 0.3s ease-out;
  }
}

$cancelButtonColor: #ffffff;

.cancelButton {
  margin: 0.5em;

  padding: 0.3em;
  border: 1px solid black;
  background-color: $cancelButtonColor;
  color: black;
  font-weight: 800;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: lighten($cancelButtonColor, 10%) !important;
    background-color: #c3e666;
    transition: all 0.3s ease-out;
  }
}

$deleteButtonColor: #db1d1d;

.deleteButton {
  margin: 0.5em;
  padding: 0.3em;
  border: 1px solid brown;
  background-color: $deleteButtonColor;
  color: white;
  font-weight: 800;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: lighten($deleteButtonColor, 10%) !important;
    background-color: #e72962;
    transition: all 0.3s ease-out;
  }
}


dialog[open] {
  animation: toggle-modal .3s ease-in-out;
}

@keyframes toggle-modal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

dialog {
  text-align: center;
  color: #333;
  border: none;
  position: absolute;
  top: 27vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.5);
  max-width: 80%;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}