<div style="text-align: center;">
    <button class="gobackButton" (click)="goBack()">
        Go Back</button>
</div>

<h1 class="info" *ngIf="deleteMessageInfo">{{deleteMessageInfo}}</h1>
<h1 class="error" *ngIf="deleteErrorMessage">{{deleteErrorMessage}}</h1>

<ng-container *ngIf="enableEdit;then editCmp else detailCmp"></ng-container>

<ng-template #editCmp>
    <create-employee #createEmpRef [isEdit]="enableEdit"
        (recordUpdated)="updateEmployeeHandler($event)"></create-employee>
</ng-template>
<ng-template #detailCmp>



    <ng-container *ngIf="isError;then error else showDetail"></ng-container>

    <ng-template #error>
        <h1 class="error">Error Fetching Details!!</h1>
    </ng-template>
    <ng-template #showDetail>
        <div class="employeeDetails">
            <div class="data-block">
                <div>
                    <h1 class="employee-name">{{'"'}}{{employeeDetail.Full_Name}}{{'"'}}</h1>
                    <ul class="employee-card">
                        <li>
                            <span class="data-label">Employee ID: </span><span
                                class="data-value">{{employeeDetail.Employee_ID || '- - -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">Job Title: </span><span
                                class="data-value">{{employeeDetail.Job_Title
                                || '- - -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">Department: </span><span
                                class="data-value">{{employeeDetail.Department
                                || '- - -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">Country: </span><span class="data-value">{{employeeDetail.Country
                                || '-
                                - -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">Age: </span><span class="data-value">{{employeeDetail.Age || '- -
                                -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">Annual Salary: </span><span
                                class="data-value">{{employeeDetail.Annual_Salary || '- - -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">City: </span><span class="data-value">{{employeeDetail.City || '- -
                                -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">Bonus: </span><span class="data-value">{{employeeDetail.Bonus || '-
                                -
                                -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">Bussiness Unit: </span><span
                                class="data-value">{{employeeDetail.Business_Unit || '- - -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">Ethnicity: </span><span
                                class="data-value">{{employeeDetail.Ethnicity
                                || '- - -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">Gender: </span><span class="data-value">{{employeeDetail.Gender ||
                                '- -
                                -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">Hire Date: </span><span
                                class="data-value">{{employeeDetail.Hire_Date
                                || '- - -'}}</span>
                        </li>
                        <li>
                            <span class="data-label">Job Title: </span><span
                                class="data-value">{{employeeDetail.Job_Title
                                || '- - -'}}</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <button class="deleteButton" (click)="deleteEmployee()">
                        Delete Employee Detail!</button>
                </div>
                <div>
                    <button class="updateButton" (click)="updateEmployee()">
                        update Employee Detail!</button>
                </div>

            </div>

        </div>
    </ng-template>
</ng-template>

<dialog #deleteModal>
    <h2>Are you sure You want to Delete {{employeeDetail.Full_Name}}'s record from Database ?</h2>
    <div class="delete-modal">
        <button class="cancelButton" (click)="confirmClose(false)">cancel</button>
        <button class="deleteButton" (click)="confirmClose(true)">Confirm Delete!</button>
    </div>

</dialog>